# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
*.egg-info/
dist/
build/

# Virtual environments
env/
venv/
.firstenv/

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Ignore node_modules if used
node_modules/

# Ignore system files
.DS_Store

# --- Do NOT ignore static ---
# static/
# *.css
# *.js
# *.mp4
